[project]
	description = A Hungarian language pack (layouts and dictionary) for the AnySoftKeyboard IME for Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rudolf Hornig (rhornig)
[access "refs/for/refs/*"]
	read = group user/Rudolf Hornig (rhornig)
	push = group user/Rudolf Hornig (rhornig)
	label-Code-Review = -2..+2 group user/Rudolf Hornig (rhornig)
	label-Verified = -1..+1 group user/Rudolf Hornig (rhornig)
	rebase = group user/Rudolf Hornig (rhornig)
	removeReviewer = group user/Rudolf Hornig (rhornig)
	submit = group user/Rudolf Hornig (rhornig)
[access "refs/heads/*"]
	read = group user/Rudolf Hornig (rhornig)
	create = group user/Rudolf Hornig (rhornig)
	push = +force group user/Rudolf Hornig (rhornig)
	pushMerge = group user/Rudolf Hornig (rhornig)
[access "refs/tags/*"]
	push = +force group user/Rudolf Hornig (rhornig)
	pushTag = group user/Rudolf Hornig (rhornig)
	pushSignedTag = group user/Rudolf Hornig (rhornig)
